.all {
  width: 100%;
  height: 800px;
}

.dengLu_yeMian {
  position: relative;
  top: 200px;
  left: 400px;
  width: 500px;
  height: 340px;
  background-color: blue;
}

.top {
  position: absolute;
  width: 500px;
  height: 150px;
  background-color: #F2F2F2;
}

.top #delect {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #dd2424;
  cursor: pointer;
}

.top .font_dengLu {
  position: absolute;
  left: 200px;
  top: 90px;
  width: 120px;
  height: 30px;
  background-color: #F2F2F2;
  font-size: 18px;
  text-align: center;
}

.center {
  position: absolute;
  top: 150px;
  width: 500px;
  height: 100px;
  background-color: #F2F2F2;
}

.center .input_div {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 100px;
  background-color: #F2F2F2;
  top: 0px;
}

.center .input_div .inputLeft {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  background-color: #F2F2F2;
}

.center .input_div .input {
  position: absolute;
  left: 40px;
  top: 2px;
  width: 200px;
  height: 20px;
  background-color: #FFFFFF;
}

.center .input_div .inputRight {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 30px;
  background-color: #FFFFFF;
}

.center .password_inputDiv {
  top: 50px;
  position: absolute;
  width: 300px;
  height: 30px;
  left: 100px;
  background-color: #F2F2F2;
}

.center .password_inputDiv .centerLeft {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  background-color: #F2F2F2;
}

.center .password_inputDiv .password_input {
  position: absolute;
  left: 40px;
  top: 2px;
  width: 200px;
  height: 20px;
  background-color: #FFFFFF;
}

.center .password_inputDiv .center_right {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 30px;
  background-color: #FFFFFF;
}

.bottom {
  position: absolute;
  top: 240px;
  width: 500px;
  height: 100px;
  background-color: #F2F2F2;
}

.bottom .bottom_tiShiTip {
  display: none;
  position: absolute;
  top: 0;
  left: 100px;
  width: 300px;
  height: 20px;
  background-color: #F2F2F2;
  font-size: 12px;
}

.bottom .bottom_tiShiError {
  display: none;
  position: absolute;
  top: 0;
  left: 100px;
  width: 300px;
  height: 20px;
  background-color: #F2F2F2;
  font-size: 12px;
}

.bottom .bottom_font_dengLu_div {
  position: absolute;
  top: 20px;
  width: 500px;
  height: 40px;
  background-color: #F2F2F2;
}

.bottom .bottom_font_dengLu_div .bottom_font_dengLu {
  position: absolute;
  left: 200px;
  width: 100px;
  height: 30px;
  background-color: red;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  border-radius: 5%;
  cursor: pointer;
}
